<!-- navbar.component.html -->
<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="logo">
      <img src="assets/spring-boot-logo.png" alt="Spring Boot Logo" />
    </div>

    <!-- Navbar Links -->
    <ul class="nav-links">
      <li>
        <a routerLink="/" routerLinkActive="active">
          <i class="fas fa-home"></i> Home
        </a>
      </li>
      <li>
        <a routerLink="/owners" routerLinkActive="active">
          <i class="fas fa-search"></i> Find Owners
        </a>
      </li>
      <li>
        <!-- <a routerLink="/veterinarians" routerLinkActive="active">
          <i class="fas fa-user-md"></i> Veterinarians
        </a> -->
      </li>
    </ul>
  </div>
</nav>
