<nav class="navbar">
  <div class="navbar-container my-3">
    <!-- Logo -->
    <div class="logo">
      <img src="assets/spring-boot-logo.png" alt="Spring Boot Logo" />
    </div>

    <!-- Navbar Links -->
    <ul class="nav-links">
      <li>
        <a routerLink="/" routerLinkActive="active">
          <i class="fas fa-home"></i> HOME
        </a>
      </li>
      <li>
        <a routerLink="/owners" routerLinkActive="active">
          <i class="fas fa-search"></i> FIND OWNERS
        </a>
      </li>
      <li>
        <a routerLink="/veterinars" routerLinkActive="active">
          <i class="fas fa-list"></i> VETERINARIANS
        </a>
      </li>
    </ul>
  </div>
</nav>
