<div class="container-fluid my-5" style="height: 100vh;">
  <div class="text-left">
    <h2 class="my-4" style="margin-left: 30px;">Owner Information</h2>
    <table class="table table-striped w-100 h-100 mx-auto custom-striped-table"
      style="table-layout: fixed; height: 100%; width: 100%;">
      <tbody *ngIf="owner">
        <tr>
          <th scope="row">Name</th>
          <td>{{ owner.firstName + ' ' + owner.lastName }}</td>
        </tr>
        <tr>
          <th scope="row">Address</th>
          <td>{{ owner.address }}</td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td>{{ owner.city }}</td>
        </tr>
        <tr>
          <th scope="row">Telephone</th>
          <td>{{ owner.telephone }}</td>
        </tr>
      </tbody>
    </table>
    <div class="col-auto">
      <button type="button" class="btn btn-dark px-4 py-2 rounded-lg font-medium hover:bg-green-700 transition"
        (click)="editOwner()"> Edit
        Owner
      </button>
      <button type="button" class="btn btn-dark px-4 py-2 mx-4 rounded-lg font-medium hover:bg-green-700 transition"
        (click)="addPet()">
        Add New
        Pet
      </button>
    </div><br><br>
    <h2 class="my-3" style="margin-left: 30px;">Pets and Visit</h2>
    <table *ngIf="pets.length > 0; else noPets" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Birth Date</th>
          <th></th>
          <th>Visit Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of pets">
          <td>{{ pet.petName }}</td>
          <td>{{ pet.petType }}</td>
          <td>{{ pet.petDOB | date:'yyyy-MM-dd' }}</td>
          <td>
            <button type="button"
              class="btn btn-dark px-4 py-2 mx-4 rounded-lg font-medium hover:bg-green-700 transition"
              (click)="editPet(pet.id!)">
              Edit Pet
            </button>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <!-- No Pets Message -->
    <ng-template #noPets>
      <p>No pets found for this owner.</p>
    </ng-template>

  </div>
</div>