<div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <h2> Owner</h2>
  
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input [(ngModel)]="owner.firstName" name="firstName" class="form-control" id="firstName" required />
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input [(ngModel)]="owner.lastName" name="lastName" class="form-control" id="lastName" required />
      </div>
  
      <div class="form-group">
        <label for="address">Address</label>
        <input [(ngModel)]="owner.address" name="address" class="form-control" id="address" />
      </div>
  
      <div class="form-group">
        <label for="city">City</label>
        <input [(ngModel)]="owner.city" name="city" class="form-control" id="city" />
      </div>
  
      <div class="form-group">
        <label for="telephone">Telephone</label>
        <input [(ngModel)]="owner.telephone" name="telephone" class="form-control" id="telephone" />
      </div>
  
      <div class="form-footer">
        <button type="submit" class="btn btn-dark">Update Owner</button>
      </div>
    </form>
  </div>
  